/* common styles  */
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}
.primary-btn{
    border: 0;
    background-color: #FD6E0A;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    padding: 18px 36px;
}
ul li{
    list-style: none;
}
ul li a {
    text-decoration: none;
}
.mr-30{
    margin-right: 30px;
}
.sec__margin{
    margin: 130px 0px;
}
/* header section */
header{
    background: #FFF8F3;
    background-image: url("images/header_bg.png"), url("images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, left;
    
}
.logo{
    color: #181818;
    font-size: 45px;
    font-weight: 800;

}
.logo > span{
    color:  #FD6E0A;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 200px;
}
nav ul{
    display: flex;
    gap: 50px;
    align-items: center;
}
nav ul li a{
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 170px;
}
.banner-content{
    max-width: 585px;
}
.banner-sub-head{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
.banner_head{
    font-size: 85px;
    font-weight: 700;
}
.banner-dec{
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0px;
}
/* About section  */
main{
    max-width: 1140px;
    margin: auto;
}
.about{
    padding: 135px 150px;
    text-align: center;
    background: #FFF8F3;
    border-radius: 10px;
}
.section__title{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}
.section__dec{
    font-size: 18px;
    font-weight: 400;
    margin: 30px 0px;
    color: #757575;
    text-align: center;
}
.info-container{
    display: flex;
    justify-content: space-around;
}
.info-title, .info-dec{
    font-size: 20px;
    color: #757575;
}
.info-dec{
    color: #474747;
    font-weight: 700;
}
.skill__grid-container{
    display: flex;
    gap: 24px;
}
.skill__item{
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px 27px;
}
.info-dec{
    margin-top: 30px;
    margin-bottom: 20px;
}
/* Resume section  */
.resume{
    padding: 100px 0px;
}
.resume__title{
    margin-bottom: 80px ;
}
.resume_container{
    display: flex;
    gap: 70px;
    margin-bottom: 40px;
}
.education__title, .degree__title{
    color:  #474747;
    font-size: 30px;
}
.education__title{
    margin-bottom: 30px;
}
.degree__title{
    font-size: 25px;
}
.degree__institute, .degree__dec{
    color: #757575;
    font-size: 20px;
    margin: 10px 0px 20px 0px;
}
.degree__dec{
    font-size: 16px;
}
hr{
   border: 1px solid #D1D1D1;
}
.education-btn{
    text-align: center;
}